* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}
a {
  color: unset;
}
/* header & navbar */
header {
  position: relative;
  margin-bottom: 1rem;
}

.bgimage {
  position: absolute;
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.navbar {
  position: relative;
  width: 100%;
  max-width: 58rem;
  margin: 0 auto;
  /* background-color: blue; */
}
nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px 0px;
}
.phone {
  /* background-color: red; */
  font-size: 14px;
  font-weight: 400;
  display: flex;
  position: absolute;
  left: 0px;
  cursor: pointer;
}
.fa-mobile-alt {
  padding-left: 5px;
}
.getapp {
  position: relative;
  left: 6px;
}
.user_log {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(50, 81, 173); */
  font-size: 18px;
  font-weight: lighter;
  position: absolute;
}

.login,
.signup {
  padding: 0px 20px;
  cursor: pointer;
}
.signup {
  padding-right: 5px;
}

.logo {
  width: 100%;
  position: absolute;
  display: flex;
  top: 6rem;
  justify-content: center;
}

.main_container {
  height: 20rem;
  width: 100%;
}
.zomlogo {
  height: 60px;
  width: 300px;
}
.slogan {
  color: white;
  /* background-color: black; */
  position: relative;
  width: 100%;
  text-align: center;
  top: 7rem;
  font-weight: 300;
  font-size: 2.3rem;
}
.city {
  font-weight: 400;
}

.searchcontainer {
  position: relative;
  /* background-color: black; */
  top: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.centerthebox {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 47rem;
  margin: 0px 2rem;
  align-items: center;
  border-radius: 10px;
  height: 3.5rem;
  font-weight: 300;
  font-size: 1.4rem;
}

.citypicker {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.fa-map-marker-alt {
  color: #f57082;
  position: relative;
  font-size: 20px;
}

.cityinput {
  /* background-color: black; */
  border-color: white;
  border-style: none;
  outline: none;
  font-size: 1rem;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 0.5rem;
}

.fa-sort-down {
  position: relative;
  bottom: 4.5px;
}

.seperator {
  position: absolute;
  height: 1.4rem;
  width: 0.5px;
  background-color: black;
  opacity: 0.3;
  left: 14.7rem;
}

.searchbox {
  /* background-color: black; */

  display: flex;
  width: 68%;
  align-items: center;
  position: relative;
}

.fa-search {
  position: relative;
  margin-right: 0.5rem;
  opacity: 0.5;
  display: flex;
  margin-left: 1rem;

  /* -webkit-text-fill-color: white;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black; */
}

.searchinput {
  position: relative;
  width: 100%;
  height: 3rem;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 300;
}

/* Section-1 Places Around */

.placesaround {
  /* background-color: black; */
  position: relative;
  width: 100%;
  height: 17rem;
  margin: auto;
}

.sectiononemain {
  max-width: 65rem;
  /* background-color: blue; */
  height: 17rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.locality {
  font-size: 2.2rem;
  font-weight: 380;
  text-align: center;
}

.cityname {
  font-weight: 400;
}

.placesnearfind {
  /* background-color: brown; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgb(28 28 28 / 8%) 0px 1.42623px 2.85246px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  width: 100%;
  max-width: 22rem;
  /* margin-left: 20rem; */
  align-items: center;
  margin-top: 2rem;
  border-radius: 10px;
  font-weight: 300;
  flex-wrap: nowrap;
  padding: 0.3rem;
  cursor: pointer;
}

.placesnearfind:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.storecount,
.fa-angle-right {
  margin: 1rem 1.2rem;
}
.storecount {
  font-size: 1.2rem;
}

/* Section-2 Zomato App */

.zomatoapp {
  position: relative;
  background-color: rgb(255, 251, 247);
  height: 35rem;
  width: 100%;
}

.appcontainer {
  /* background-color: chartreuse; */
  height: 35rem;
  max-width: 50rem;
  margin: auto;
}

.phoneapp {
  position: absolute;
  /* object-fit: cover; */
  top: 2rem;
  height: 470px;
  width: 260px;
  margin: auto;
}

.appinfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  left: 20rem;
  top: 4.2rem;
  max-width: 27rem;
  height: 26rem;
  /* background-color: chocolate; */
}

.apptitle {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  font-weight: 400;
}

.appdesc {
  line-height: 1.7;
  margin-bottom: 1.5rem;
  font-weight: 100;
  color: rgb(133, 130, 130);
  font-size: 1rem;
}

.app_form {
  width: 13rem;
  margin-bottom: 1rem;
  display: flex;
  font-size: 1rem;
}

input:checked {
  background-color: #f57082;
}
.emailradio,
.phoneradio {
  height: 20px;
  width: 20px;
}

.phoneradio {
  position: relative;
  top: 0.3rem;
  left: 4rem;
  stroke: rgb(237, 90, 107);
  stroke-width: 1px;
  fill: rgb(255, 255, 255);
  cursor: pointer;
}

.phoneradiotext {
  position: relative;
  font-size: 1.1rem;
  top: 1.5px;
  left: 4.5rem;
  color: rgb(133, 130, 130);
  cursor: pointer;
}

.emailradio {
  position: relative;
  top: 0.3rem;
  stroke: rgb(237, 90, 107);
  stroke-width: 1px;
  fill: rgb(255, 255, 255);
  cursor: pointer;
}

.emailradiotext {
  position: relative;
  font-size: 1.1rem;
  left: 0.5rem;
  top: 1.5px;
  color: rgb(133, 130, 130);
  cursor: pointer;
}
.submit_form {
  display: flex;
  flex-direction: row;
  /* background-color: crimson; */
  height: 4rem;
  width: 27rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.email_input,
.submit_input {
  height: 3rem;
  border-radius: 7px;
}

.email_input {
  width: 17.5rem;
  font-size: 1.2rem;
  font-weight: 100;
  text-indent: 15px;
  outline: none;
  border: 0.1rem solid rgb(207, 207, 207);
}
.submit_input {
  height: 3.2rem;
  width: 9rem;
  font-size: 1rem;
  color: white;
  background-color: #e95662;
  border-width: 0;
  cursor: pointer;
}

.download_app {
  color: rgb(156, 156, 156);
  margin-bottom: 1rem;
  width: 25rem;
}

.download_apppic {
  /* background-color: turquoise; */
  width: 19.5rem;
  display: flex;
  justify-content: space-between;
}
.appstore,
.playstore {
  height: 2.5rem;
  width: 9rem;
  cursor: pointer;
}

/* explore */

.explore {
  position: relative;
  width: 100%;
  height: 40rem;
  /* background-color: aquamarine; */
}

.explore_container {
  position: relative;
  /* background-color: orange; */
  max-width: 70rem;
  height: 34rem;
  margin: auto;
  top: 6rem;
}

.explore_container > p {
  font-size: 2rem;
  margin: 1rem 0;
}

.cuisines_nearme {
  font-size: 1.5rem;
  margin-top: 3rem;
}
.food_nearme {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  line-height: 0;
  position: absolute;
  left: 1.5rem;
  font-weight: 100;
  color: rgb(156, 156, 156);
}

.restaurant_nearme {
  position: absolute;
  top: 23rem;
  margin-top: 1.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  line-height: 0;
  left: 1.5rem;
  font-weight: 100;
  color: rgb(156, 156, 156);
}

.restitle {
  position: absolute;
  top: 16.3rem;
  font-size: 1.5rem;
  margin-top: 4rem;
}

a:hover {
  font-weight: 400;
}

/* footer */

footer {
  position: relative;
  width: 100%;
  background-color: rgb(248, 248, 248);
  height: 30rem;
}

.footerdiv {
  /* background-color: orchid; */
  max-width: 70rem;
  height: 30rem;
  margin: auto;
}

.footerlogopic {
  position: relative;
  height: 1.7rem;
  top: 1rem;
  width: 8.5rem;
  margin-bottom: 1rem;
}

.logpicker {
  display: flex;
  /* background-color: brown; */
  height: 7rem;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  display: flex;
  align-items: center;
  /* background-color: red; */
  width: 16rem;
  height: 3rem;
}

.placedrop {
  margin-right: 1rem;
}

.btndrop {
  width: 8rem;
  height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 100;
  display: flex;
  background-color: rgb(248, 248, 248);
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  padding: 0.5rem;
  border: 1px solid rgb(181, 181, 181);
}
.fa-chevron-down {
  font-size: 12px;
}
.globe {
  height: 20px;
}

.links {
  display: flex;
  justify-content: space-between;

  margin-bottom: 4rem;
}
.twitter,
.instagram,
.facebook {
  height: 25px;
}

.androidstore,
.applestore {
  height: 43px;
}

.companylinks,
.forfoodieslink,
.forrestlink,
.foryoulink,
.sociallinks {
  display: flex;
  flex-direction: column;
}

.linktitle {
  margin-bottom: 0.6rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
}

.forfoodieslink a {
  font-size: 1rem;
  color: rgb(105, 105, 105);
  line-height: 1.7;
  font-weight: 100;
}

.forrestlink a {
  font-size: 1rem;
  color: rgb(105, 105, 105);
  line-height: 1.7;
  font-weight: 100;
}

.foryoulink a {
  font-size: 1rem;
  color: rgb(105, 105, 105);
  line-height: 1.7;
  font-weight: 100;
}

.companylinks a {
  font-size: 1rem;
  color: rgb(105, 105, 105);
  line-height: 1.7;
  font-weight: 100;
}

.sociallogo {
  position: relative;
  /* background-color: blue; */
  max-width: 6rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.applogo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: rgb(190, 155, 30); */
  height: 6.5rem;
  width: 9rem;
}

.copyright {
  color: rgb(105, 105, 105);
  font-size: 0.87rem;
  line-height: 1.6;
  font-weight: 100;
}

.footersep {
  position: relative;
  max-width: 70rem;
  height: 0.15rem;
  background-color: rgb(207, 207, 207);
  margin-bottom: 1rem;
}

.countrypicker {
  height: 22px;
}

.langcontent,
.locationcontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 400px;
  bottom: 100%;
  z-index: 1;
}

.locationcontent a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.placedrop:hover .locationcontent {
  display: block;
}
