* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}
a {
  color: unset;
}
/* header */
header {
  position: relative;
}
.bgimage {
  position: absolute;
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.navbar {
  position: relative;
  width: 100%;
  max-width: 58rem;
  margin: 0 auto;
  /* background-color: blue; */
}
nav {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px 0px;
}
.phone {
  /* background-color: red; */
  font-size: 14px;
  font-weight: 400;
  display: flex;
  position: absolute;
  left: 0px;
}
.fa-mobile-alt {
  padding-left: 5px;
}
.getapp {
  position: relative;
  left: 6px;
}
.user_log {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(50, 81, 173); */
  font-size: 18px;
  font-weight: lighter;
  position: absolute;
}

.login,
.signup {
  padding: 0px 20px;
}
.signup {
  padding-right: 5px;
}

.logo {
  width: 100%;
  position: absolute;
  display: flex;
  top: 6rem;
  justify-content: center;
}

.zomlogo {
  height: 60px;
  width: 300px;
}
.slogan {
  color: white;
  /* background-color: black; */
  position: relative;
  width: 100%;
  text-align: center;
  top: 7rem;
  font-weight: 300;
  font-size: 2.3rem;
}
.city {
  font-weight: 400;
}

.searchcontainer {
  position: relative;
  /* background-color: black; */
  top: 8rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.centerthebox {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 47rem;
  margin: 0px 2rem;
  align-items: center;
  border-radius: 10px;
  height: 3.5rem;
  font-weight: 300;
  font-size: 1.4rem;
}

.citypicker {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.fa-map-marker-alt {
  color: #f57082;
  position: relative;
  font-size: 20px;
}

.cityinput {
  /* background-color: black; */
  border-color: white;
  border-style: none;
  outline: none;
  font-size: 1rem;
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 0.5rem;
}

.fa-sort-down {
  position: relative;
  bottom: 4.5px;
}

.seperator {
  position: absolute;
  height: 1.4rem;
  width: 0.5px;
  background-color: black;
  opacity: 0.3;
  left: 14.7rem;
}

.searchbox {
  /* background-color: black; */

  display: flex;
  width: 68%;
  align-items: center;
  position: relative;
}

.fa-search {
  position: relative;
  margin-right: 0.5rem;
  opacity: 0.5;
  display: flex;
  margin-left: 1rem;

  /* -webkit-text-fill-color: white;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black; */
}

.searchinput {
  position: relative;
  width: 100%;
  height: 3rem;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 300;
}
